/* src/styles/buttons.css */

.btn {
  padding: 12px 24px;
  margin-top: 20px;
  background-color: #1b5cdd; /* estilo tipo Facebook */
  color: rgb(214, 19, 149);
  border: none;
  border-radius: 8px;
  font-size: 16px;
  cursor: pointer;
  transition: background-color 0.3s ease;
}

.btn:hover {
  background-color: #365899;
}



/* frontend/src/styles/buttons.css */
.btn {
  padding: 10px 20px;
  background-color: #4CAF50;
  color: white;
  border: none;
  cursor: pointer;
  font-size: 16px;
  margin-top: 20px;
}

.btn:hover {
  background-color: #45a049; /* Cambia el color cuando el mouse pasa sobre el botón */
}
